@import url("https://fonts.googleapis.com/css2?family=Festive&family=Poppins:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
* {
  font-family: Poppins;
}

.createCourse {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: rgba(125, 170, 230, 0.7); */
  background-color: #fff;
  border-radius: 100px;
  overflow: auto;
}

.createCourseTitle {
  font-size: 100px;
  font-family: Festive;
  color: rgb(125, 170, 230);
  text-shadow: -0.2px 0.2px 0 var(--main-theme), 0.2px 0.2px 0 var(--main-theme),
    0.2px -0.2px 0 var(--main-theme), -0.2px -0.2px 0 var(--main-theme);
}

.createCourseForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createCoursePopupButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.createCoursePopupButton button {
  color: #fff;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  margin: 20px 10px;
}

.createCoursePopupButtonCreate,
.createCoursePopupButtonClear {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: none;
  padding: 8px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 14px;
  padding: 8px 10px;
  transition: all 0.3s ease;
}

.createCoursePopupButtonCreate {
  background-color: rgb(69, 173, 139);
}

.createCoursePopupButtonCreate:hover {
  background-color: rgb(7, 107, 74);
}

.createCoursePopupButtonClear {
  background-color: rgb(161, 161, 161);
}

.createCoursePopupButtonClear:hover {
  background-color: rgb(122, 122, 122);
}
