.adminLogin {
  /* overflow: hidden; */
  background-color: aliceblue;
}

.adminLoginWrapper {
  height: calc(100vh - 60px);
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.adminLoginCard {
  width: 60%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 35px 0px;
}
