:root {
    --main-theme: rgb(87, 112, 221);
    --main-white: #f0f8ff;
    --main-border: rgb(116, 135, 219);
}

.topbar {
    height: 60px;
    background-color: var(--main-theme);
    display: flex;
    top: 0;
    z-index: 999;
}

.topbarWrapper {
    width: 100%;
    padding: 0px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topLeft {
    flex: 3;
    justify-content: center;
}

.topCenter {
    flex: 3;
}

.topRight {
    flex: 2;
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: flex-end;
}