@import url("https://fonts.googleapis.com/css2?family=Festive&family=Poppins:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

:root {
  --main-theme: rgb(87, 112, 221);
  --card-theme:rgb(102, 124, 223);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.mainEnroll {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background-color: rgba(125, 170, 230, 0.7);
  font-size: 12px;
  border-radius: 20px;
}

.mainEnrollTitle {
  font-size: 100px;
  font-family: Festive;
  color: white;
  text-shadow: -0.2px 0.2px 0 rgb(87, 112, 221), 0.2px 0.2px 0 rgb(87, 112, 221),
    0.2px -0.2px 0 rgb(87, 112, 221), -0.2px -0.2px 0 rgb(87, 112, 221);
}

.mainEnrollTable {
  width: 100%;
  flex-grow: 1;
  background-color: white;
}

.mainEnrollForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.viewEditEnrollPopup {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  overflow: auto;
}

.viewEditEnrollPopupContainer {
  position: relative;
  padding: 32px;
  padding: 20px;
  height: 100%;
  width: 100%;
  max-width: 640px;
  max-height: 800px;
  background-color: var(--card-theme);
  border-radius: 20px;
  border-radius: 30px;
  overflow: auto;
}

.closeEditEnrollPopup {
  color: white;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  background: none;
  border: none;
  transform: scale(1.1);
}

.closeEditEnrollPopup:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.enrollApproveButton, .enrollRejectButton {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.enrollApproveButton {
  background-color: rgb(69, 173, 139);
}

.enrollApproveButton:hover {
  background-color: rgb(7, 107, 74);
}


.enrollRejectButton {
  background-color: rgb(233, 123, 123);
  padding: 8px 10px;
  transition: all 0.3s ease;
}

.enrollRejectButton:hover {
  background-color: rgb(233, 86, 86);
}