:root {
  --main-theme: rgb(87, 112, 221);
  --main-white: #f0f8ff;
  --main-border: rgb(116, 135, 219);
}

.topRightContainer {
  display: flex;
}

.topbarIconContainer {
  position: relative;
  margin-right: 20px;
  color: white;
}

.topbarIcon {
  padding-left: 3px;
  padding-top: 3px;
  width: 30px;
  height: 30px;
  background-color: var(--main-theme);
  cursor: pointer;
  border-radius: 50%;
}

.topbarIcon:hover {
  filter: brightness(1.2);
}

.topIconBadge {
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: 0px;
  right: -5px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarProfileButton {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background-color: var(--main-theme);
  border: none;
}

.topbarProfileButton:hover .topbarAvatar {
  filter: brightness(1.1);
  filter: contrast(1.2);
}

.topbarAvatarContainer {
  position: relative;
  display: flex;
  background-color: var(--main-theme);
}

.topbarAvatarContainer::after {
  position: absolute;
  padding: 0;
  margin: 0;
  content: "";
  height: 100%;
  left: 50%;
  right: 0;
  background-color: var(--main-white);
  border-top: var(--main-border) 2px solid;
  border-bottom: var(--main-border) 2px solid;
  z-index: 998;
}

.topbarAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 0%;
  border: var(--main-border) 2px solid;
  z-index: 999;
}

.topbarCreditContainer {
  display: flex;
  justify-content: center;

  padding: 5px;
  max-height: 32px;
  border-radius: 0px 10px 10px 0;
  background-color: var(--main-white);
  border: var(--main-border) 2px solid;
  border-left: none;
}

.topbarCredit {
  height: 100%;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
}
.topBarAddMoneyButton {
  cursor: pointer;

  font-size: 100px;
  font-family: Festive;
  color: white;
  text-shadow: -0.2px 0.2px 0 var(--main-theme), 0.2px 0.2px 0 var(--main-theme),
    0.2px -0.2px 0 var(--main-theme), -0.2px -0.2px 0 var(--main-theme);
}

.topBarAddMoneyButtonIcon {
  position: absolute;
  right: 10px;
  bottom: 12px;
  margin: 5px;
  display: flex;
  align-items: center;
}
