:root {
  --imgBgTutorValid: url("https://source.unsplash.com/random/800×300/?blank");
}

.tutorValidCard {
  margin: 5px;
  height: 337px;
  position: relative;
  background: linear-gradient(
    rgb(102, 101, 101),
    transparent,
    rgb(102, 101, 101),
    var(--imgBgTutorValid)
  );
  background-size: cover;
  border-radius: 20px;
}

.tutorValidCard::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 100%;
  /* background: linear-gradient(rgb(255, 255, 255), rgb(87, 112, 221)); */
  border-radius: 20px 20px 0 0;
}

.tutorValidCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.tutorValidCardImageContainer {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.tutorValidCardImageAvatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.tutorName {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}

.tutorName span {
  text-align: center;
  width: 180px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tutorFullName {
  font-size: 20px;
  font-weight: 600;
}

.tutorUserName {
  font-size: 15px;
  color: rgb(214, 214, 214);
  font-weight: 400;
}

.tutorProfession {
  font-size: 15px;
  font-weight: 500;
}

.tutorValidCardButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tutorValidCardButton button {
  color: #fff;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  margin: 20px 5px;
}

.tutorValidCardButtonView {
  background-color: rgb(137, 156, 241);
  padding: 8px 20px;
  transition: all 0.3s ease;
}

.tutorValidCardButtonView:hover {
  background-color: rgb(90, 116, 230);
}

.tutorValidCardButtonRemove {
  background-color: rgb(233, 123, 123);
  padding: 8px 10px;
  transition: all 0.3s ease;
}

.tutorValidCardButtonRemove:hover {
  background-color: rgb(233, 86, 86);
}



