:root {
  --imgBgTutorValid: url("https://source.unsplash.com/random/800×300/?blank");
  --main-theme :rgb(87, 112, 221);
  --main-white :#f0f8ff;
  --main-border :rgb(116, 135, 219);
}

.tutorValidPopupCard {
  top: 13px;
  width: 100%;
  min-height: 450px;
  background: linear-gradient(
    rgb(102, 101, 101),
    transparent,
    rgba(102, 101, 101, 0.411),
    var(--imgBgTutorValid)
  );
  background-size: cover;
  border-radius: 20px;
}

.tutorValidPopupCardContent {
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 900;
}

.tutorValidPopupCard::after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 60%;
  width: 100%;
  background: var(--main-white);
  border-radius: 0 0 20px 20px;
}

.tutorValidPopupCardContentUpper {
  position: relative;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
}

.tutorValidPopupCardImageContainer {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.tutorValidPopupCardImageAvatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.tutorValidPopupCardContentLower {
  position: relative;
  min-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
  margin-top: 20px;
  padding: 0px 15px;
}

.tutorValidPopupCardContentLowerLeft {
  display: flex;
  flex-direction: column;
  background-color: rgba(233, 233, 233, 0.555);
  border-radius: 10px;
}

.tutorFullName {
  font-size: 20px;
  font-weight: 600;
}

.tutorUserName {
  font-size: 15px;
  color: rgb(214, 214, 214);
  font-weight: 400;
}

.tutorEducation, .tutorEmail, .tutorPhoneNumber, .tutorBirthdate, .tutorCitizenId {
  color: rgb(59, 59, 59);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
}

.tutorValidPopupCardContentLowerRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tutorCitizenImgContainer {
  height: 180px;
  max-width: 180px;
  padding: 0px 5px;
}

.tutorCitizenImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
  border: 3px solid var(--main-border);
}

.tutorValidPopupCardButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tutorValidPopupCardButton button {
  color: #fff;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  margin: 20px 5px;
}

.tutorValidPopupCardButtonApprove {
  background-color: rgb(60, 151, 121);
  padding: 8px 20px;
  transition: all 0.3s ease;
}

.tutorValidPopupCardButtonApprove:hover {
  background-color: rgb(7, 107, 74);
}

.tutorValidPopupCardButtonRemove {
  background-color: rgb(233, 123, 123);
  padding: 8px 10px;
  transition: all 0.3s ease;
}

.tutorValidPopupCardButtonRemove:hover {
  background-color: rgb(233, 86, 86);
}