:root {
  --imgBgReport: url("https://source.unsplash.com/random/800×300/?blank");
}

.userReportCard {
  margin: 10px;
  position: relative;
  background: linear-gradient( rgb(133, 133, 133), transparent, rgb(102, 101, 101), rgb(47, 47, 47)), var(--imgBgReport);
  background-size: cover;
  border-radius: 20px;
}

.userReportCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px;
  position: relative;
  z-index: 100;
}

.userReportCardImageContainer {
  height: 140px;
  width: 140px;
  border-radius: 20px;
}

.userReportCardImageAttached {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 3px solid #fff;
}

.userReportCardReportInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}

.userReportCardTitle {
  max-width: 180px;
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userReportCardDetail {
  font-size: 12px;
  font-weight: 500;
  width: 180px;
  height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 3px solid rgb(107, 107, 107);
}

.userReportCardUserName {
  font-size: 14px;
  font-weight: 300;
  color: rgb(214, 214, 214);
}

.userReportCardButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.userReportCardButton button {
  margin: 5px;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.userReportCardButtonView {
  background-color: rgb(60, 151, 121);
  padding: 8px 20px;
  transition: all 0.3s ease;
}

.userReportCardButtonView:hover {
  background-color: rgb(7, 107, 74);
}

.userReportCardButtonRemove {
  background-color: rgb(155, 154, 154);
  padding: 8px 10px;
  transition: all 0.3s ease;
}

.userReportCardButtonRemove:hover {
  background-color: rgb(102, 102, 102);
}