@import url("https://fonts.googleapis.com/css2?family=Festive&family=Poppins:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
:root {
  --main-theme: rgb(87, 112, 221);
  --card-theme: rgb(102, 124, 223);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.reportPage {
  /* flex: 1; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: top; */
  justify-content: space-evenly;
  background-color: rgba(125, 170, 230, 0.7);
  font-size: 12px;
}

.reportTitle {
  font-size: 100px;
  font-family: Festive;
  color: white;
  text-shadow: -0.2px 0.2px 0 var(--main-theme), 0.2px 0.2px 0 var(--main-theme), 0.2px -0.2px 0 var(--main-theme), -0.2px -0.2px 0 var(--main-theme);
}

.reportForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reportSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-theme);
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 10px;
  border-radius: 14px;
  cursor: pointer;
  margin: 50px 0 50px 0;
}

.reportSubmit button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
}

.reportSubmit:hover {
  background-color: rgb(93, 122, 250);
}

.LoginText {
  /* border: 1px solid var(--main-theme); */
  color: rgba(51, 51, 51, 0.712);
  padding: 15px 30px;
  border-radius: 20px;
}

.LoginLink {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(82, 175, 64);
  border-radius: 15px;
  padding: 3px 10px;
  margin: auto;
  margin-left: 10px;
}

.LoginLink:hover {
  background-color: rgb(81, 196, 70);
}