.topbar {
  height: 60px;
  background-color: rgb(87, 112, 221);
  display: flex;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  width: 100%;
  padding: 0px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topLeft {
  flex: 3;
  justify-content: center;
}

.topLeftContainer {
  top: -10px;
  position: relative;
  white-space: nowrap;
}

.topLeftlogo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topLeftlogoLink {
  text-decoration: none;
  color: inherit;
}

.topLeftauthor {
  font-size: 16px;
  font-weight: 400;
  color: white;
  position: absolute;
  top: 29px;
  left: 54px;
}

.topCenter {
  flex: 3;
}

.searchbar {
  height: 30px;
  background-color: #f0f8ff;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  font-size: 14px;
  border: none;
  width: 70%;
  height: 100%;
  background-color: #f0f8ff;
  margin: 1px;
}

.searchInput:focus {
  outline: none;
}

.topRight {
  flex: 2;
  display: flex;
  align-items: center;
  margin-right: 20px;
  justify-content: flex-end;
}

.topRightContainer {
  display: flex;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  color: white;
}

.topIconBadge {
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: 0px;
  right: -5px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarMyProfile{
}

.topbarMyProfileButton {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border: none;
  background-color: var(--main-white);
  border-radius: 0 10px 10px 0;
}

.topbarMyProfileButton:hover .topAvatar {
  filter: brightness(1.1);
  filter: contrast(1.2);
}

.topAvatarContainer{
  padding: 0px;
  position: relative;
  display: flex;
  background-color: var(--main-theme);
}

.topAvatarContainer::after {
  padding:0;
  margin:0;
  content: "";
  width: 50%;
  height: 100%;
  left: 60%;
  right: 0;
  position: absolute;
  background-color: var(--main-white);
  border-top: rgb(116, 135, 219) 2px solid;
  border-bottom: rgb(116, 135, 219) 2px solid;
  
}

.topAvatar {
  display: flex;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 0%;
  border: rgb(116, 135, 219) 2px solid;
}

.topbarCreditContainer{
  padding: 5px;
  max-height: 32px;
  border-radius: 0px 10px 10px 0;
  background-color: var(--main-white);
  border: rgb(116, 135, 219) 2px solid;
  border-left: none;
}

.topbarCredit {
  height: 100%;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
}

.dropProfileMenu {
  position: absolute;
  top: 55px;
  width: 250px;
  transform: translateX(5%);
  padding: 10px;
  z-index: 999;
  overflow: hidden;
}

.viewPopupContainer {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 180px;
  align-items: center;
  justify-content: center;
  max-width: 640px;
  background-color: white;
  border-radius: 20px;
  border: var(--main-theme) 1px solid;
  overflow: auto;
}

.dropProfileList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black !important;
  padding: 10px;
}

.dropProfileItem {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.dropProfileItem:hover {
  border-radius: 10px;
  border: var(--main-theme) 1px solid;
  cursor: pointer;
}
