.myCourseList {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 55px;
}

.myCourseListItem {
  font-size: 14px;
  font-weight: 600;
  list-style: none;
  padding: 10px 0px;
  white-space: nowrap;
}

.courseName {
  border-right: 2px solid;
  border-color: rgb(80, 83, 83);
  padding-right: 5px;
}

.courseStatus {
  padding: 5px;
}

.courseStudentNum {
  font-weight: 300;
}

.courseMaxCap {
  font-weight: 300;
}
