@import url("https://fonts.googleapis.com/css2?family=Festive&family=Poppins:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

.registerPage {
  /* flex: 1; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  background-color: rgba(125, 170, 230, 0.7);
  border-radius: 0px 20px 20px 0px;
}

.registerTitle {
  font-size: 100px;
  font-family: Festive;
  color: white;
  text-shadow: -0.2px 0.2px 0 rgb(87, 112, 221), 0.2px 0.2px 0 rgb(87, 112, 221),
    0.2px -0.2px 0 rgb(87, 112, 221), -0.2px -0.2px 0 rgb(87, 112, 221);
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerType,
.registerFirstname,
.registerLastname,
.registerUsername,
.registerPassword,
.registerConfirmPassword,
.registerEmail,
.registerPhoneNumber,
.registerDisplayNumber,
.registerBirthdate,
.registerGender,
.registerEducationLevel,
.registerPicture,
.registerCitizenId,
.registerCitizenImage {
  font-size: 16px;
  width: 280px;
  height: 15px;
  border: none;
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 30px;
  background-color: white;
  border: none;
}

.registerType:focus,
.registerFirstname:focus,
.registerLastname:focus,
.registerUsername:focus,
.registerPassword:focus,
.registerConfirmPassword:focus,
.registerEmail:focus,
.registerPhoneNumber:focus,
.registerDisplayNumber:focus,
.registerBirthdate:focus,
.registerGender:focus,
.registerEducationLevel:focus,
.registerPicture:focus,
.registerCitizenId:focus,
.registerCitizenImage:focus {
  outline: none;
}

.registerSubmit {
  width: 250px;
  background-color: rgb(87, 112, 221);
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 5px;
  margin-top: 10px;
  border-radius: 14px;
  cursor: pointer;
}

.registerSubmit:hover {
  background-color: rgb(93, 122, 250);
}

.LoginText {
  /* border: 1px solid rgb(87, 112, 221); */
  color: rgba(51, 51, 51, 0.712);
  padding: 15px 30px;
  border-radius: 20px;
}

.LoginLink {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(82, 175, 64);
  border-radius: 15px;
  padding: 3px 10px;
  margin: auto;
  margin-left: 10px;
}

.LoginLink:hover {
  background-color: rgb(81, 196, 70);
}
