.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleRight {
  margin-bottom: 30px;
}
.submit {
  width: 200px;
  background-color: rgba(128, 0, 128, 0.671);
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}
input {
  width: 250px;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.register {
  border: 1px solid;
  padding: 15px 30px;
  border-radius: 10px;
  border-color: #cfcfc4;
}
.textbox {
  padding-top: 10px;
}
